*.pyc
settings.ini
.DS_Store
*.idea/*
log/*
logs/*
run.py
.vscode/
*.xmllogs
*.xml
statics/*
.python-version
node_modules/
crawlers.iml
text_run.py
/libs/geetest/bg.png
/libs/geetest/fbg.png
/models/boss/utils/bg.png
/models/boss/utils/fbg.png
.bundle/
vendor/
docker/docker.env
monitors/craw.egg-info/
monitors/build/*
monitors/dist/*
venv/